@import "bootstrap.scss";

/* Typography */

@font-face {
  font-family: 'Wix Madefor Text';
  src: url('/fonts/wix-madefor-text/wix-madefor-text-v13-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Text';
  src: url('/fonts/wix-madefor-text/wix-madefor-text-v13-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-v22-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@mixin h1-font-family {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", Helvetica, sans-serif;
}

body, html {
  font-size: 16px;
  font-weight: 400;
  background-color: #080A35;
  color: #FFFFFF;
  font-family: 'Wix Madefor Text', Helvetica, sans-serif;
}

.summary {
  color: #1569FF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem;
}

.subtitle {
  opacity: 0.6;
  font-size: 1.5rem;
  font-weight: 300;
}

.description {
  @include h1-font-family;
  font-size: 2.125rem;
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 4rem;
}

h1, .h1 {
  @include h1-font-family;
  font-size: 4.625rem;
  line-height: 1em;
}

@supports (font-family: -apple-system) {
  h1, .h1 {
    font-size: 5.3rem;
  }
}

h2, .h2 {
  @include h1-font-family;
  font-size: 3.135rem;
}

@supports (font-family: -apple-system) {
  h2, .h2 {
    font-size: 3.625rem;
  }
}

h3, .h3 {
  @include h1-font-family;
  font-size: 1.838rem;
}

@supports (font-family: -apple-system) {
  h3, .h3 {
    font-size: 2.125rem;
  }
}


/* Button */
.btn {
  margin-right: 1rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#logo {
  display: flex;
  align-items: center;
}

#logo svg {
  margin-right: 8px;
}

#nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  text-decoration: none;
}

#nav ul li a:hover {
  color: $primary;
}

/* Main */
main {
  min-height: calc(100vh - 5rem);
}

section {
  margin-bottom: 15.625rem;
}

/* Cards */
.cards {
  border-radius: 2.5rem;
  padding: 2rem 3rem 3rem;
  background: rgba(161, 194, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(14.649999618530273px);
}

/* Footer */
footer {
  background-color: #0f1249;
  padding: 3rem 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer ul li {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer ul.footernav p{
  margin: 0;
}

footer a:hover {
  color: $secondary;
}