@import "bootstrap.scss";
@import "mixins.scss";

/* Typography */

@font-face {
  font-family: 'Wix Madefor Text';
  src: url('/fonts/wix-madefor-text/wix-madefor-text-v13-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Text';
  src: url('/fonts/wix-madefor-text/wix-madefor-text-v13-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-v22-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body, html {
  font-size: 16px;
  font-weight: 400;
  background-color: #080A35;
  color: #FFFFFF;
  font-family: 'Wix Madefor Text', Helvetica, sans-serif;
  overflow-x: hidden;
}

.summary {
  color: #1569FF;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 0.875rem;
  }
}

.subtitle {
  opacity: 0.6;
  font-size: 1.2rem;
  font-weight: 300;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.description {
  @include h1-font-family;
  font-size: 1.2rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.125rem;
    margin-bottom: 4rem;
  }
}

.title {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 4rem;
  }
}

h1, .h1 {
  @include h1-font-family;
  font-size: 1.8rem;
  line-height: 1em;

  @include media-breakpoint-up(md) {
    font-size: 3.2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.8rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 4.625rem;
  }
}

@supports (font-family: -apple-system) {
  h1, .h1 {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 5.3rem;
    }
  }
}

h2, .h2 {
  @include h1-font-family;
  font-size: 1.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.135rem;
  }
}

@supports (font-family: -apple-system) {
  h2, .h2 {
    font-size: 1.75rem;

    @include media-breakpoint-up(lg) {
      font-size: 3.625rem;
    }
  }
}

h3, .h3 {
  @include h1-font-family;
  font-size: 1.3rem;

  @include media-breakpoint-up(md) {
    font-size: 1.838rem;
  }

  @include media-breakpoint-only(lg) {
    font-size: 1.6rem;
  }
}

@supports (font-family: -apple-system) {
  h3, .h3 {
    font-size: 1.5rem;

    @include media-breakpoint-up(md) {
      font-size: 2.125rem;
    }

    @include media-breakpoint-only(lg) {
      font-size: 1.8rem;
    }
  }
}

small {
  font-style: italic;
  opacity: 0.4;
}


/* Button */
.btn {
  margin-right: 1rem;
  display: inline-flex;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
  }
}

.btn-outline-light {
  background: rgba(161, 194, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(14.649999618530273px);

  &:hover {
    border-color: $primary;
    background: #ffffff0d;
  }
}

.button-icon {
  margin-left: 1rem;
}

/* grain */


main, footer {
  background-color: #080A35;
}

main > section:last-of-type {
  margin-bottom: 0;
  padding-bottom: 4rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 10rem;
  }
}

.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/grain.png");
  mix-blend-mode: soft-light;
  opacity:0.7;
  pointer-events: none;
}

section {
  position: relative;
}

/* Spots */
.spot {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(63, 128, 245, 0.60) 0%, rgba(52, 105, 206, 0.00) 100%);
  pointer-events: none;
  z-index: -1;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 0.5px solid #ffffff30;

  @include media-breakpoint-down(md) {
    padding: 10px 10px 10px 20px;
    border-top: 0.5px solid #ffffff30;
  }
}

.header-blur {
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: #262b4b30;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;

  @include media-breakpoint-down(md) {
    height: calc(100% + 1px);
    top: -1px;
  }
}

#logo {
  display: flex;
  align-items: center;
}

#logo svg {
  margin-right: 8px;

  @include media-breakpoint-down(md) {
    max-width: 100px;
  }
}


/* Navigation */
#nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: relative;

  @include media-breakpoint-down(md) {
    gap: 1.5rem;
    justify-content: flex-end;
  }
}

/* Desktop Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.nav-links li {
  display: inline;
}

.nav-item {
  text-decoration: none;
  color: white;
  transition: 0.2s ease all;
  cursor: pointer;
}

.nav-item:hover {
  color: $primary;
}

/* Mobile Login Button */
.login-sm {
  margin: 0;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.login-lg {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

/* Burger Menu Button */
.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  line-height: 1em;
  margin-top: -5px;

  @include media-breakpoint-down(md) {
    display: block;
  }

  &.open {
    font-size: 2.5rem;
    margin-top: 0;
  }
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 62px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 62px);
  //background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 9999;
  background-color: #262b4b30;
  backdrop-filter: blur(10px);
  border-top: 0.5px solid #ffffff30;
}

.mobile-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;
}

.mobile-menu li {
  margin: 1rem 0;
  border-top: 0.5px solid #ffffff30;
  padding-top: 1rem;
}

.mobile-menu li:last-of-type {
  border-bottom: 0.5px solid #ffffff30;
  padding-bottom: 1rem;
}

.mobile-menu ul a, .mobile-menu ul span {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.75rem;
  @include h1-font-family;
}

.mobile-menu a:hover, .mobile-menu span:hover {
  color: $primary;
}

/* Close Button */
.close-menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Main */
main {
  min-height: calc(100vh - 5rem);
  z-index: 1;
  position: relative;
}

section {
  margin-bottom: 6rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 8rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 10rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 15.625rem;
  }
}

/* Cards */
.card-section {
  @include media-breakpoint-down(md) {
    gap: 1rem;
  }
}

.cards {
  border-radius: 2.5rem;
  padding: 2rem 2rem 1rem;
  background: rgba(161, 194, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(14.649999618530273px);

  @include media-breakpoint-up(lg) {
    padding: 1rem 2rem 1rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 2rem 3rem 3rem;
  }
}

/* Footer */
footer {
  padding: 4rem 0 1.5rem;
  text-align: center;
  background: rgba(161, 194, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14.649999618530273px);
  border-radius: 40px 40px 0 0;
}

footer .logo {
  display: flex;
  margin-bottom: 4rem;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
}

footer ul li {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

footer ul.footernav p{
  margin: 0;
}

footer a:hover {
  color: $secondary;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
  font-size: 0.8rem;
  padding: 1rem 0;
}

footer .footer-bottom p {
  margin: 0;
}

footer .h1 {
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
}

/* Effects */

.fade-in {
  opacity: 0;
  transform: translateY(6rem);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}