@import "bootstrap-includes";

.heading {
  mix-blend-mode: plus-lighter;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  z-index: 2;

  @include media-breakpoint-down(md) {
    height: 100dvh;
  }
}

.heading .summary {
  margin-bottom: 2rem;
  margin-top: -25vh;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.heading .subtitle {
  margin-bottom: 4rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }
}

.headingButtons {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heading button, .register {
  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}

.register {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}