.howToCard {
  border-radius: 2.5rem;
  padding: 2rem 3rem 3rem;
  background: rgba(161, 194, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(14.649999618530273px);
}

.howToCard h3 {
  word-break: break-word;
  white-space: normal;
  word-spacing: 100vw;
}

.icon {
  height: 5.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
