@import "bootstrap-includes";

.introAnimation {
  margin-bottom: 0;
  margin-top: -25vw;
  min-height: 50vw;
  z-index: 1;

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }
}

.cardAnimation {
  mix-blend-mode: overlay;
  filter: hue-rotate(2deg) saturate(130%) brightness(1.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  min-height: 50vw;
}

.cardAnimation.open {
  opacity: 1;
}

.lightspot {
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 150vh;
  transform: translate(-50%, -35%);

  @include media-breakpoint-down(md) {
    top: 10%;
    height: 100vh;
  }
}