@import "bootstrap-includes";

.introAnimation {
  margin-bottom: 0;
  margin-top: -50vh;
  min-height: 50vw;

  @include media-breakpoint-down(md) {
    margin-top: -30vw;
    margin-bottom: 3rem;
  }
}

.cardAnimation {
  mix-blend-mode: screen;

  @include media-breakpoint-down(md) {
    transform: scale(1.25);
  }
}

.lightspot {
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 150vh;
  transform: translate(-50%, -35%);

  @include media-breakpoint-down(md) {
    top: 10%;
    height: 100vh;
  }
}