@import "bootstrap-includes";

.sponsors {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    align-items: flex-end;
  }
}

.sponsorimages {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;

  @include media-breakpoint-down(md) {
    padding: 0 1rem;
  }
}

.sponsorimages picture img {
  max-width: 100%;
  height: auto;
}

.image2 {
  padding-left: 1.5rem;

  @include media-breakpoint-up(md) {
    padding-left: 3rem;
  }
}

.lightspot {
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 120vh;
  transform: translate(-30%, -50%) rotate(-5deg);
  opacity: 0.6;
}